In [26]:
print(round(456, -1))
print(round(456, -2))

print(round(2.5)) #  если число четное округление производися в меньшую сторону 
print(round(3.5)) #  если же число четное то округление производится в большую сторону

460
500
2
4

In [24]:
print(5%10) # остаток от деления 
print(5//10) # целочисленное деление (сколько раз пятерка помещается в 10)
print(10%5)
print(10//5)

5
0
0
2

In [12]:
print(pow(16, 0.5)) # возведение в степень 

print(9**1/2)  #  неправильное возведение в степень (в данном случае взятие корня)
print(9**(1/2)) #  правильное возведение в степень (в данном случае взятие корня)

4.0
4.5
3.0

In [23]:
number = 251 

sum_digits = 0

while number > 0:
    n = number%10
    sum_digits += n
    number //=10

print(sum_digits)

"""
Первая итерация: Вход 251 
n = 251%10 
n = 1 (так как 251 делится на 10 с остатком 1)
sum_digits += n == 0+1 (где 0 изначальное значение, а 1 полученное)
number //=10 == 251//10
number = 25 (так как число 251 делится 25 раз нацело на число 10)


***
Итерации повторяются пока n > 0

"""

8

'\nПервая итерация: Вход 251 \nn = 251%10 \nn = 1 (так как 251 делится на 10 с остатком 1)\nsum_digits += n == 0+1 (где 0 изначальное значение, а 1 полученное)\nnumber //=10 == 251//10\nnumber = 25 (так как число 251 делится 25 раз нацело на число 10)\n\n\n***\nИтерации повторяются пока n > 0\n\n'

In [35]:
print(-12 // 10)
print(12 // 10)
print(-7 // 10)
print(7 // 10)

-2
1
-1
0

In [41]:
a = 4 
b = 5 
a,b = b,a  # Правильная смена значений  для переменных 

print(a, b)

5 4

In [43]:
a = 4 
b = 5 
a = b  # Неправильная смена значений 
b = a  # Неправильная смена значений 
print(a, b)

5 5

In [58]:
number = int(input())
print(number * 2)
print(number / 2)

16
4.0

Петя учится в школе и очень любит математику. Уже несколько занятий они с классом проходят арифметические выражения. На последнем уроке учительница написала на доске три положительных целых числа a, b, c. Задание заключалось в том, чтобы расставить между этими числами знаки операций '+' и '*', а также, возможно, скобки. Значение получившегося выражения должно быть как можно больше. Рассмотрим пример: пусть учительница выписала на доску числа 1, 2 и 3. Вот некоторые варианты расстановки знаков и скобок:

1+2*3=7
1*(2+3)=5
1*2*3=6
(1+2)*3=9
Обратите внимание на то, что знаки операций можно вставлять только между a и b, а также между b и c, то есть нельзя менять числа местами. Так, в приведенном примере нельзя получить выражение (1+3)*2.

Легко убедиться, что максимальное значение, которое можно получить, — это 9.

Ваша задача — по заданным a, b и c вывести, какое максимальное значение выражения можно получить.

Входные данные

Во входных данных записаны три целых числа a, b и c, каждое в отдельной строке (1 ≤ a, b, c ≤ 10).

Выходные данные

Выведите максимальное значение выражения, которое можно получить.

In [66]:
n1, n2, n3 = [int(input()) for _ in range(3)] 

first_case = (n1 + n2) * n3 
second_case = n1 * (n2 + n3) 
third_case = n1 * n2 * n3 
fourth_case = n1 + n2  + n3 
fifth_case = n1 * n2 + n3 
sixth_case = n1 + n2 * n3 

print(max(first_case, second_case, third_case, fourth_case, fifth_case, sixth_case))

48

Известно, что на обработку одного квадратного метра панели требуется 1г сульфида. Всего необходимо обработать N прямоугольных панелей размером A на B метров. Вам необходимо подсчитать, сколько всего сульфида необходимо на обработку всех панелей. И не забудьте, что панели требуют обработки с обеих сторон.

На вход программе подаются 3 положительных целых числа N,A,B в одну строку

In [74]:
n, a, b = map(int, input().split()) 

total_sum = n * a * b* 2

print(total_sum)

440

Петя, Катя и Сережа делают из бумаги журавликов. Вместе они сделали S журавликов. Сколько журавликов сделал каждый ребенок, если известно, что Петя и Сережа сделали одинаковое количество журавликов, а Катя сделала в два раза больше журавликов, чем Петя и Сережа вместе?

Входные данные
Поступает одно натуральное число S – общее количество сделанных журавликов.

Выходные данные
В единственную строку нужно вывести три числа, разделенных пробелами – количество журавликов, которые сделал каждый ребенок (Петя, Катя и Сережа).

In [92]:
#solution 

total_amount = int(input())

petya_amount = total_amount // 6
sergey_amount = petya_amount

kate_amount = petya_amount  * 4

print(petya_amount, kate_amount, sergey_amount)

1 4 1

Однажды, посетив магазин канцелярских товаров, Вася купил X карандашей, Y ручек и Z фломастеров. Известно, что цена ручки на 2 рубля больше цены карандаша и на 7 рублей меньше цены фломастера. Также известно, что стоимость карандаша составляет 3 рубля. Требуется определить общую стоимость покупки.

In [97]:
x, y, z = map(int, input().split()) 

x_price = 3 

total_spend = 3 * x + y * (x_price + 2) + z * (x_price + 2 + 7)

print(total_spend)

20

Бандиты Гарри и Ларри отдыхали на природе. Решив пострелять, они выставили на бревно несколько банок из-под кока-колы (не больше 10). Гарри начал простреливать банки по порядку, начиная с самой левой, Ларри — с самой правой. В какой-то момент получилось так, что они одновременно прострелили одну и ту же последнюю банку.

Гарри возмутился и сказал, что Ларри должен ему кучу денег за то, что тот лишил его удовольствия прострелить несколько банок. В ответ Ларри сказал, что Гарри должен ему еще больше денег по тем же причинам. Они стали спорить кто кому сколько должен, но никто из них не помнил сколько банок было в начале, а искать простреленные банки по всей округе было неохота. Каждый из них помнил только, сколько банок прострелил он сам.

Определите по этим данным, сколько банок не прострелил Гарри и сколько банок не прострелил Ларри.

In [100]:
a , b = map(int, input().split())

larry_shoot = b - 1
garry_shoot = a - 1

print(larry_shoot, garry_shoot)

6 3

In [105]:
n = int(input())

print(n-1, "<", n,"<", n+1, sep='')

4<5<6

In [106]:
#Если поделить любое число по остатку на 10 мы получим последнюю цифру

print(221412414 %  10)
print(5433463631 %  10)
print(2675756850 %  10)

4
1
0

In [3]:
print(
    37 % 8
)  # Output: 5 Обьяснение : a - b * (a/b) = 37 - 8 * 4(точный результат 4.5 но пайтон округляет до меньшего числа) = 37 - 32 = 5
print(
    -37 % 8
)  # Output:3 Обьяснение : a - b * (a/b) = 37 - 8 * (-5) (точный результат 4.5 но пайтон округляет до меньшего числа) = 37 + 40 = 3

5
3

In [14]:
a = int(input()) 

print(a // 100 + a % 100 + a // 20 + a % 20 + a // 10 + a % 10 + a // 5 + a % 5)

75

In [19]:
a = int(input()) 

print(a // 100 + a % 100//20 + a % 20 // 10 + a % 10//5 + a % 5)

3

Дано число n. С начала суток прошло n минут. Определите, сколько часов и минут будут показывать электронные часы в этот момент.

Программа должна вывести два числа: количество часов (от 0 до 23) и количество минут (от 0 до 59).

Учтите, что число n может быть больше, чем количество минут в сутках.

In [35]:
#solution 

a = int(input())

hours = a // 60 % 24 

minutes = a % 60 

print(hours, minutes)

3 3

Дано целое число n. Выведите следующее за ним четное число.

Задачу необходимо решить целочисленными операциями без использования условных операторов и\или циклов.

In [47]:
a = int(input())

next_pair_number = a + 2 - (a % 2)

print(next_pair_number)

8

Электронные часы показывают время в формате h:mm:ss, то есть сначала записывается количество часов в диапазоне от 0 до 23, потом обязательно двузначное количество минут, затем обязательно двузначное количество секунд. Количество минут и секунд при необходимости дополняются до двузначного числа нулями.

Программа получает на вход число n - количество секунд, которое прошло с начала суток.

Выведите показания часов, соблюдая формат.

In [62]:
n = int(input())

hours = n // 3600 
minutes = n // 60 % 60
seconds = n % 60

formatted_minutes = str(minutes).zfill(2)
formatted_seconds = str(seconds).zfill(2)

print(f"{hours}:{formatted_minutes}:{formatted_seconds}")

1:23:20

23